.body .wrapper {
  display: flex;
  padding: 0;
  border-radius: 0.2rem;
  margin-top: 1rem;
}
.body__content {
  padding-top: 1rem;
  width: calc(100% - 15.5rem);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  .search__result--text {
    font-size: $fs-24;
    font-weight: 300;
    padding: 1rem;
    margin: 0;
  }
  .search__tabs {
    margin-left: 0;
    padding-left: 1rem;
    &--item {
      display: inline-block;
      //   color: $color-primary-2;
      font-weight: 500;
      font-size: $fs-13;
      padding: 0.5rem;
      margin-right: 1.5rem;
    }
    &--item.active {
      color: $color-primary-2;
      border-bottom: 0.2rem solid $color-primary-2;
    }
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.search__content {
  display: flex;
  flex-wrap: wrap;
  .product__item {
    width: calc(100% / 4);
    padding: 1rem;
    &--img {
      padding: $fs-12;
      &--tag {
        bottom: $fs-12;
        left: $fs-12;
      }
    }
  }
}

.search__tag {
  margin: 1rem;
  span {
    border-radius: 1rem;
    display: inline-block;
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
    font-size: $fs-13;
    line-height: 1.5rem;
    i {
      margin-left: 0.5rem;
      color: #56b0ffab;
    }
  }
  &--img {
    background-color: #eee;
  }
  img {
    height: 1.5rem;
  }

  &--item {
    background-color: rgba(27, 168, 255, 0.1);
  }
  &--del {
    color: $color-primary-2;
    font-size: $fs-13;
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 63.9375em) {
  .body__content {
    width: 100%;
    .search__result--text {
      display: none;
    }
    .search__tabs {
      display: flex;
      justify-content: space-between;
      padding: 0;
      .search__tabs--item:nth-child(5),
      .search__tabs--item:nth-child(4) {
        display: none;
      }
      .search__tabs--item {
        margin: 0;
      }
    }
  }
  .search__content {
    .product__item {
      width: 50%;
    }
  }
}
