.btn-tiki-light {
  align-items: flex-start;
  background-color: #ffffff;
  border-color: $color-primary-2;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: $color-primary-2;
  display: inline-block;
  font-size: $fs-12;
  margin: 0.5rem 0px 0px;
  padding: 0.2rem 0.5rem;
  text-align: center;
}
