* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  background-color: #efeff4;
}

.row {
  margin: 0;
}

.container {
  max-width: 1270px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 63.9375em) {
  .container {
    padding: 0;
  }
}
.star-icon {
  color: #ccc;
  font-size: 0.6875rem;
  vertical-align: middle;
}

.star-icon.filled {
  color: #f7a115;
}

.reviews-text {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: normal;
  text-decoration: underline;
  margin-left: 5px;
  vertical-align: middle;
}

.product__item {
  transition: 0.3s;
  width: 16.6666666667%;
  padding: 0.6rem;
  transition: 0.3s;
  cursor: pointer;
}
.product__item .product__item--img {
  position: relative;
  width: 100%;
}
.product__item .product__item--img--main {
  width: 100%;
}
.product__item .product__item--img--tag {
  position: absolute;
  height: 12%;
  left: 0;
  bottom: 0;
  display: none;
}
.product__item .product__item--ad {
  display: none;
  border-radius: 0.2rem;
  font-size: 0.6875rem;
  padding: 0.02rem 0.2rem;
  background-color: #efeff4;
  margin-bottom: 0;
}
.product__item .product__item--desc {
  font-size: 0.8125rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.5rem 0 0.2rem;
}
.product__item .produc__item--more .product__item--rating {
  display: none;
}
.product__item .produc__item--more .h {
  color: #787878;
}
.product__item .produc__item--more .product__item--sold {
  font-size: 0.6875rem;
  color: #787878;
  display: none;
}
.product__item .product__item--price {
  margin: 0.2rem 0;
}
.product__item .product__item--price .item__price,
.product__item .product__item--price .item__unit {
  color: #38383d;
  font-weight: 500;
  font-size: 1rem;
}
.product__item .product__item--price .item__sale {
  margin-left: 0.2rem;
  padding: 0.1rem 0.2rem;
  border: 1px solid #ff424e;
  color: #ff424e;
  font-size: 0.75rem;
  border-radius: 0.2rem;
  background-color: #fff0f1;
  display: none;
}
.product__item .product__item--cheapRefund {
  height: 1.1rem;
  display: none;
}

.product__item.sale .item__price,
.product__item.sale .item__unit {
  color: #ff424e;
}
.product__item.sale .item__sale {
  display: inline-block;
}

.product__item:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
  z-index: 1;
}

.product__item.ad .product__item--ad {
  display: inline-block;
}

.product__item.rating .product__item--rating {
  display: inline-block;
}

.product__item.sold .product__item--sold {
  display: inline-block;
}

.product__item.cheapRefund .product__item--cheapRefund {
  display: block;
}

.product__item.freeShip .product__item--img--tag {
  display: block;
}

.btn-tiki-light {
  align-items: flex-start;
  background-color: #ffffff;
  border-color: #0d5cb6;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: #0d5cb6;
  display: inline-block;
  font-size: 0.75rem;
  margin: 0.5rem 0px 0px;
  padding: 0.2rem 0.5rem;
  text-align: center;
}

.header {
  background-color: #1a94ff;
  width: 100%;
}
.header__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.header__mobile {
  display: none;
}

.header__logo--img {
  width: 3.75rem;
  height: 2.5rem;
  object-fit: cover;
  margin-bottom: 0.6rem;
}
.header__logo .header__sublogo--img {
  width: auto;
  height: 0.9rem;
  object-fit: cover;
}

.header__search {
  margin-top: 1rem;
  margin-left: 3.5rem;
  font-size: 0.8125rem;
}
.header__search--top input {
  height: 2.5rem;
  width: calc(100% - 7.5rem);
  border-radius: 2px 0px 0px 2px;
  border: none;
  padding: 0px 0.8rem;
}
.header__search--top button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  border: none;
  color: #fff;
  background-color: #0d5cb6;
}
.header__search--top button i {
  font-size: 1rem;
  margin-right: 0.5rem;
}
.header__search--bottom {
  margin-top: 0.5rem;
}
.header__search--bottom ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.header__search--bottom ul li a {
  color: #fff;
  margin-right: 0.6rem;
  font-size: 0.6875rem;
}

.header__right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  position: relative;
  color: #fff;
}
.header__right i.large {
  font-size: 2rem;
}
.header__right .header__auth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__right .header__auth--logo {
  margin-right: 0.5rem;
}
.header__right .header__auth--process .header__auth--login {
  font-size: 0.6875rem;
  color: #fff;
}
.header__right .header__auth--process .header__auth--user {
  font-size: 0.8125rem;
  margin: 0;
  position: relative;
}
.header__right .header__auth--process .header__auth--user i {
  position: absolute;
  top: 0;
  margin-left: 0.2rem;
}
.header__right .header__seller {
  display: inline-block;
  margin-top: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0.1rem 0.5rem;
  border-radius: 0.8rem;
  font-size: 0.75rem;
}
.header__right .row {
  justify-content: flex-end;
}

.header__cart--count {
  display: inline-block;
  position: relative;
  margin: 0 0.2rem 0 1.5rem;
}
.header__cart--count .header__cart--quantity {
  position: absolute;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -0.6rem;
  border-radius: 50%;
  background-color: #fdd835;
}
.header__cart--cart {
  font-size: 0.8125rem;
}

.header__sub {
  height: 2.5rem;
  width: 100%;
  background-color: #fff;
}

.submenu {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}
.submenu li a {
  color: #38383d;
  text-decoration: none;
}

#carouselSubMenu {
  margin-top: 0;
}
#carouselSubMenu i {
  color: #38383d;
  font-weight: 500;
}

.carousel-control-prev.submenu-control-prev {
  left: -1rem;
  opacity: 1;
}

.carousel-control-next.submenu-control-next {
  right: -1rem;
  opacity: 1;
}

@media only screen and (max-width: 63.9375em) {
  .container {
    overflow: hidden;
  }

  .header .container {
    padding: 0;
  }

  .header__main {
    padding: 0.5rem 0.2rem;
    justify-content: space-between;
  }

  .header__logo {
    display: none;
  }

  .header__search {
    margin: 0;
    width: 80%;
  }
  .header__search input {
    width: 100%;
    margin: 0 0.5rem;
    height: 2rem;
  }
  .header__search .search__button {
    display: none;
  }
  .header__search--bottom {
    display: none;
  }

  .header__right {
    margin: 0;
  }
  .header__right .header__auth,
.header__right .header__seller,
.header__right .header__cart--cart {
    display: none;
  }

  .header__cart--count {
    margin: 0;
    margin-right: 1rem;
  }

  .header__mobile {
    display: block;
  }
  .header__mobile i {
    color: #fff;
    font-size: 1.5rem;
    margin: 0.5rem;
  }
}
.footer {
  margin-top: 1rem;
  background-color: #fff;
  color: #787878;
  font-size: 0.75rem;
}
.footer__col {
  list-style: none;
  color: #787878;
  width: 20%;
}
.footer__header h4 {
  font-size: 1rem;
  color: #242424;
  font-weight: 500;
  margin: 1rem 0;
}
.footer li {
  margin-bottom: 0.2rem;
}
.footer li a {
  color: #787878;
  font-size: 0.75rem;
}

.footer__social a {
  margin-right: 0.2rem;
}

.footer__download img {
  padding-left: 0;
}
.footer__download .footer__download--store {
  padding-left: 0;
}
.footer__download .footer__android img {
  margin-bottom: 0.5rem;
}

.footer__bottom {
  padding-bottom: 1rem;
}
.footer__bottom p {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 63.9375em) {
  .footer {
    display: none;
  }
}
.navigate {
  padding-top: 1rem;
}
.navigate__links {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
.navigate__item {
  margin-right: 0.5rem;
}
.navigate__item a {
  color: #38383d;
  font-size: 0.875rem;
  font-weight: 300;
}
.navigate__item a i {
  font-size: 0.8rem;
  margin-right: 0.4rem;
}
.navigate__item.active a {
  color: #242424;
}

@media only screen and (max-width: 63.9375em) {
  .navigate {
    display: none;
  }
}
.navs {
  width: 15.5rem;
  font-size: 0.8125rem;
}
.navs h4 {
  color: #242424;
  font-weight: 500;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 0.5rem 0 0.8rem;
  margin: 0;
}
.navs a {
  color: #242424;
  font-size: 0.8125rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}
.navs__category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 0.5rem 1rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navs #category_address a {
  font-weight: 500;
  text-decoration: underline;
}
.navs #category_address .changeAddress {
  color: #1a94ff;
  font-weight: 500;
  text-transform: uppercase;
}
.navs .form-check {
  display: flex;
  flex-direction: column;
}
.navs .form-check .form-check-input {
  margin-top: 0.2rem;
}
.navs .form-check .form-check-label {
  overflow: hidden;
}
.navs .form-check img {
  height: 1.5rem;
  transform: translateY(-0.2rem);
}
.navs #category_price a {
  display: inline-block;
  background-color: #eee;
  border-radius: 0.8rem;
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.5rem;
  width: auto;
}
.navs .chose__price span {
  color: #787878;
}
.navs .chose__price input {
  width: 45%;
  height: 1.8rem;
  font-size: 0.8125rem;
  padding: 0 0.5rem;
}
.navs .chose__price--input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

hr {
  margin: 0.4rem 0;
}

@media only screen and (max-width: 63.9375em) {
  .navs {
    display: none;
  }
}
.carousel {
  margin-top: 1rem;
}
.carousel .row {
  overflow: hidden;
}

.carousel__ads--pic,
.carousel__ads--slide {
  height: 100%;
  padding: 0;
}

#carouselAds {
  margin-top: 0;
}
#carouselAds img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.carousel__ads--slide {
  border-radius: 0.2rem 0 0 0.2rem;
}

.carousel__ads--pic {
  padding-left: 0.5rem;
  overflow: hidden;
}
.carousel__ads--pic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-indicators li {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.carousel-control-next {
  justify-content: flex-end;
}

.carousel-control-prev {
  justify-content: flex-start;
}

.btn-slide {
  display: inline-block;
  background-color: rgb(111, 97, 97);
  padding: 0.4rem 0.2rem;
}
.btn-slide i {
  font-size: 2rem;
}

.dealShock {
  margin-top: 1rem;
}

.dealShock__carousel {
  background-color: #f5f5f5;
  padding: 1rem 1rem 0 1rem;
  border-radius: 0.2rem;
}

.dealShock__carousel--header .dealShock__logo img {
  height: 1.75rem;
}
.dealShock__carousel--header .flash-dealShock {
  opacity: 1;
  transform: scale(1);
  animation: flash 0.8s infinite;
}
.dealShock__carousel--header .dealShock__countDownTime {
  margin-left: 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #38383d;
}
.dealShock__carousel--header .dealShock__countDownTime span {
  display: inline-block;
  background-color: #ff424e;
  color: #fff;
  padding: 0.12rem 0.2rem;
  margin: 0 0.2rem;
  border-radius: 0.2rem;
  font-size: 0.9375rem;
}
.dealShock__carousel--header .readMore {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dealShock__carousel--header .readMore a {
  text-decoration: none;
  color: #1a94ff;
  font-size: 1rem;
}

.dealShock__carousel--item {
  transition: 0.3s;
  width: 25%;
  padding: 0.6rem;
  cursor: pointer;
}
.dealShock__carousel--item .dealShock__item--img {
  position: relative;
  width: 100%;
}
.dealShock__carousel--item .dealShock__item--img--main {
  width: 100%;
}
.dealShock__carousel--item .dealShock__item--img--tag {
  position: absolute;
  height: 1rem;
  left: 0;
  bottom: 0;
}
.dealShock__carousel--item .dealShock__item--price {
  margin: 0.5rem 0;
}
.dealShock__carousel--item .dealShock__item--price .item__price,
.dealShock__carousel--item .dealShock__item--price .item__unit {
  color: #ff424e;
  font-weight: 500;
  font-size: 1rem;
}
.dealShock__carousel--item .dealShock__item--price .item__sale {
  margin-left: 0.2rem;
  padding: 0.1rem 0.2rem;
  border: 1px solid #ff424e;
  color: #ff424e;
  font-size: 0.75rem;
  border-radius: 0.2rem;
  background-color: #fff0f1;
}
.dealShock__carousel--item .dealShock__item--progress {
  position: relative;
}
.dealShock__carousel--item .dealShock__item--progress .progress {
  background-color: rgb(255, 170, 175);
  height: 1.25rem;
  border-radius: 1rem;
  text-align: center;
}
.dealShock__carousel--item .dealShock__item--progress .progress-bar {
  background-color: #ff424e;
  border-radius: 1rem;
}
.dealShock__carousel--item .dealShock__item--progress .fire {
  position: absolute;
  z-index: 9;
  bottom: 0.5rem;
  left: 0.5rem;
  transform: scale(1.5);
}
.dealShock__carousel--item .dealShock__item--progress .dealShock__item--status {
  position: absolute;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 0.6875rem;
  color: #fff;
  bottom: 0.1rem;
}

.dealShock__carousel--item:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
  z-index: 1;
}

#carouselDealShockControls a {
  width: auto;
}
#carouselDealShockControls .btn-slide {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
#carouselDealShockControls i {
  color: #000;
  font-size: 0.8rem;
}

.dealShock__banner {
  width: 100%;
  padding-right: 0;
}
.dealShock__banner img {
  width: 100%;
}

@keyframes flash {
  50% {
    opacity: 0.3;
    transform: scale(1.3);
  }
}
.ads .row {
  margin-top: 1rem;
}

.ads__img {
  padding: 0;
}
.ads__img img {
  width: 100%;
  height: 100%;
}

.ads__img:nth-child(2) {
  padding: 0 0.8rem;
}

.ads__2 .row {
  justify-content: space-between;
}
.ads__2--banner {
  width: 24%;
  border-radius: 1.2rem;
  overflow: hidden;
}
.ads__2--banner img {
  width: 100%;
}

.ads__3 .row {
  justify-content: space-between;
}
.ads__3--img {
  width: 32%;
  border-radius: 1rem;
  overflow: hidden;
}
.ads__3--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service {
  margin-top: 1rem;
}
.service .row {
  border-radius: 0.4rem;
  background-color: #fff;
  justify-content: space-between;
  padding: 0 1rem;
}
.service__item {
  padding: 1rem 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__item img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
.service__item span {
  margin-top: 1rem;
  display: block;
  max-width: 5rem;
  font-size: 0.8125rem;
  color: #242424;
  text-align: center;
}

.brandName {
  margin-top: 1rem;
}
.brandName .carousel-indicators {
  bottom: -2.8rem;
}
.brandName .carousel-indicators li {
  background-color: #1a94ff;
}

.wrapper {
  background-color: #fff;
  padding: 0 1rem 1rem 1rem;
}

.brandName__header.row {
  padding-bottom: 0;
}

.brandName__header {
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}
.brandName__header--logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.brandName__header--logo img {
  width: 1.5rem;
  margin-right: 0.5rem;
}
.brandName__header--readMore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.brandName__header--readMore a {
  color: #1a94ff;
  font-size: 0.9375rem;
}

h3 {
  color: #38383d;
  font-size: 1.25rem;
  margin: 0;
}

.wrapper__banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.carouselBrandName__img {
  width: 49.5%;
  border-radius: 0.5rem;
}

.brandName__content {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

.brandName__item {
  width: 12rem;
  padding: 0;
  position: relative;
  border-radius: 0.5rem;
  border: 1px solid #eeeeee;
}
.brandName__item img {
  width: 100%;
  object-fit: cover;
}
.brandName__item span {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  text-align: center;
  color: #1a94ff;
}

.category {
  margin-top: 1rem;
}
.category .wrapper {
  padding-top: 1rem;
  padding-bottom: 0;
}
.category .row {
  background-color: #fff;
  padding: 1rem;
}
.category__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.category__content--item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0.8rem 0.8rem 0.8rem;
}
.category__content--item img {
  width: 3.75rem;
  border-radius: 1.25rem;
  object-fit: cover;
  margin-bottom: 1rem;
}
.category__content--item span {
  text-align: center;
  width: 6rem;
  font-size: 0.8125rem;
  color: #242424;
}

.recommend {
  position: relative;
}

.recommend__header {
  margin-top: 1rem;
  padding: 0.8rem;
  padding-left: 1rem;
}

.recommend__tabs {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
  padding: 0.4rem 0;
  background-color: #efeff4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.recommend__tabs--item {
  padding: 0.4rem;
  width: 9.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: 0.2rem;
  cursor: pointer;
}
.recommend__tabs--item img {
  width: 3rem;
  object-fit: cover;
}

.wrapper.recommend__content {
  padding: 0;
  padding-bottom: 1000px;
  flex-wrap: wrap;
}

.body .wrapper {
  display: flex;
  padding: 0;
  border-radius: 0.2rem;
  margin-top: 1rem;
}

.body__content {
  padding-top: 1rem;
  width: calc(100% - 15.5rem);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.body__content .search__result--text {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem;
  margin: 0;
}
.body__content .search__tabs {
  margin-left: 0;
  padding-left: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.body__content .search__tabs--item {
  display: inline-block;
  font-weight: 500;
  font-size: 0.8125rem;
  padding: 0.5rem;
  margin-right: 1.5rem;
}
.body__content .search__tabs--item.active {
  color: #0d5cb6;
  border-bottom: 0.2rem solid #0d5cb6;
}

.search__content {
  display: flex;
  flex-wrap: wrap;
}
.search__content .product__item {
  width: 25%;
  padding: 1rem;
}
.search__content .product__item--img {
  padding: 0.75rem;
}
.search__content .product__item--img--tag {
  bottom: 0.75rem;
  left: 0.75rem;
}

.search__tag {
  margin: 1rem;
}
.search__tag span {
  border-radius: 1rem;
  display: inline-block;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8125rem;
  line-height: 1.5rem;
}
.search__tag span i {
  margin-left: 0.5rem;
  color: rgba(86, 176, 255, 0.6705882353);
}
.search__tag--img {
  background-color: #eee;
}
.search__tag img {
  height: 1.5rem;
}
.search__tag--item {
  background-color: rgba(27, 168, 255, 0.1);
}
.search__tag--del {
  color: #0d5cb6;
  font-size: 0.8125rem;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 63.9375em) {
  .body__content {
    width: 100%;
  }
  .body__content .search__result--text {
    display: none;
  }
  .body__content .search__tabs {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .body__content .search__tabs .search__tabs--item:nth-child(5),
.body__content .search__tabs .search__tabs--item:nth-child(4) {
    display: none;
  }
  .body__content .search__tabs .search__tabs--item {
    margin: 0;
  }

  .search__content .product__item {
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
